body{
  background-color: #1c1c1e;
}
/* navbar */
.navbar{
  display: flex;
  justify-content: center;
  align-items:center;
  font-family : 'Bricolage Grotesque', sans-serif;
  margin: 0 auto;
  color: #ffffff;
  height:3rem;
  width: 80%;
  background-color:#5c5e6b;
  margin-top:2rem;
  border-radius:30px;
  box-shadow: 0 4px 16px rgba(155, 165, 0, 0.3);
}

/* about section */
.aboutcontainer{
  /* margin-top:rem; */
  margin: 3rem auto;
  display:flex;
  justify-content:center;
  align-items:center;
  width:55%;
  /* height: rem; */
  background-color: #bfbfbf;
  border-radius: 10px;
  box-shadow: 0 4px 16px rgba(155, 165, 0, 0.3);
}

/* daily work section */
.dailywork{
  margin-top:3rem;
  width:80%;
}

/* container section */
.containersection{
  display:flex;
  flex-direction:column;
  width: 70%;
  height: auto;
  margin: 3rem auto;
  display: flex;
  justify-content:center;
  align-items:center;
  background-color: #303134;
  border-radius: 20px;
}

.firstrow{
  display:flex;
  justify-content:center;
  align-items:center;
  gap:100px;
  height:auto;
  margin: 0 auto;
  margin-top:2rem;
  margin-bottom:2rem;
  width:70%;
}
.secondrow{
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  gap:100px;
  width:70%;
  margin-bottom:2rem;
}

.container{
  display:flex;
  height:5rem;
  width:30%;
  background-color: #f3d8d8;
  justify-content:center;
  align-items:center;
  border-radius:20px;
}
 
/* weekly container section */

.weeklysection{
  display:flex;
  margin: 3rem auto;
  justify-content:center;
  align-items:center;
  background-color:#303134;
  width:70%;
  height: auto;
  gap:75px;
  border-radius:20px;
}

.weeklycontainers{
  display:flex;
  margin-top:2rem;
  margin-bottom:rem;
  margin: 0 auto;
  width:20%;
  height: 3rem;
  justify-content: center;
  align-items:center;
  background-color: #f3d8d8;
  border-radius:20px;
}

/* montly section */
.montlysection{
  display:flex;
  width:70%;
  background-color:#303134;
  margin: 3rem auto;
  border-radius:20px;
  height:auto;
  justify-content:center;
  align-items:center;
}

.montlycontainer{
  display:flex;
  background-color:#f3d8d8;
  border-radius: 20px;
  width:20%;
  justify-content:center;
  align-items:center;
}